* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets/Capturar.JPG);
    background-position: center;  /*alinhada imagem de fundo do site*/
    background-size: cover;
}

:root { /*variaveis de cores globais: para o modo light do sistema*/
    --bg-color: rgba(0, 255, 255, 0.5);
    --font-color: black;
    --input-bg: white;
    --btn-bg: white;
}

@media (prefers-color-scheme: dark) { /*variaveis de cores globais: para o modo dark do sistema*/
    :root {
        --bg-color: rgba(0, 38, 255, 0.822);
        --font-color: white;
        --input-bg: black;
        --btn-bg: black;
    }
    
    html {
        color-scheme: dark;
    }
}



#div {
    background-color: var(--bg-color);
    margin: auto;
    text-align: center;
    width: 50vw;
    height: 70vh;
    margin-top: 20vh;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: var(--font-color);
    font-size: 50px;
    padding: 15px;
}

p {
    color: var(--font-color);
    display: inline-block;
    font-size: 25px;
}

#input {
    color: var(--font-color);
    background-color: var(--input-bg);
    padding: 5px;
    height: 5vh;
    font-size: 22px;
    border: none;
}

#butao {
    margin: auto;
    display: block;
    font-size: 35px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    color: var(--font-color);
    background-color: var(--btn-bg);
    cursor: pointer;
}
